<h2 class="page-headline text-center">
  <%= @entry.category.title %>
</h2>


<div class="table-card show-request">

	<span>
		<p class="entry-title text-center">
		  <%= @entry.title %>
		</p>

		<p>
		  <%= @entry.description.html_safe %>
		</p>

	</span>

	<div class="name-org">
		<%= @entry.user.email %>
	</div>

	<div class="text-center">
		<%= link_to 'Edit', edit_entry_path(@entry) %> |
		<%= link_to 'Back', category_path(@entry.category.id) %>
	</div>

</div>