<%= form_for([@organization, @department]) do |f| %>
  <%# f.hidden_field :organization_id, value: @department.organization.id %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Department Name" %><br>
    <%= f.text_field :name %>
  </div><br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
