<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @department.organization %>
</p>

<%= link_to 'Edit', edit_organization_department_path(:id => :organization_id) %> |
<%= link_to 'Back', organization_departments_path %>
