<div class="table-card show-request">

  <p class="request-title text-center">
    <%= @request.title %>
  </p>

  <p class="request-desc">
    <%= @request.description %>
  </p>

  <div class="name-org">
    <%= @request.user.email %>
  </div>

    <!-- <strong>Department:</strong> -->
    <%# @request.department %>

  <div class="text-center">
    <%= link_to 'Edit', edit_request_path(@request) %> |
    <%= link_to 'Back', requests_path %>
  </div>

</div>