<!-- <p id="notice"><%= notice %></p> -->
<br />
<%= link_to 'Back', position_path(@category.position_id) %>

<h2 class="page-headline text-center">
  <%= @category.title %>
</h2>

<h4 class="page-headline text-center">
  <%= @category.position.name %>
</h4>

<div class="text-center">
<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      New Entry
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Entry</h4>
        </div>
        <div class="modal-body">
          <%= render 'entries/form' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <% @category.entries.each do |entry| %>
<div class="table-card entry-container">
        <div><%= link_to entry.title, entry, class: "entry-title" %></div><br />
        <div><%= entry.description %></div>
        <td><%# entry.category.title %></td>
        <td><%# link_to 'Show', entry %></td><br />
        <%= link_to '', edit_entry_path(entry), class: "glyphicon glyphicon-edit" %>
        <%= link_to '', entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
        <%=  %>
</div>
    <% end %>
<br>

<%# link_to 'New Entry', new_category_entry_path(@category.id) %>

<br>

<%# link_to 'Edit', edit_category_path(@category) %>
