<!DOCTYPE html>
<html>
<head>
  <title>nurio</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/animsition.min.css">
  <link href='https://fonts.googleapis.com/css?family=Voltaire|Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="/assets/jquery.animsition.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<header>
  <nav class="nav">
    <%= image_tag('nurio logo white.png', size: "200x98", class: "logo") %>
    <span class="nav-stuff">
      <ul class="nav nav-pills">
        <% if user_signed_in? %>
          <li role="presentation"><%= link_to 'Leaderboard', leaderboard_show_path %></li>
          <li role="presentation"><%= link_to 'Departments', organization_path(current_user.organization) %></li>
          <li role="presentation"><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li role="presentation"><%= link_to "Sign up", new_user_registration_path %></li>
          <li role="presentation"><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </span>
  </nav>
    <% if user_signed_in? %>
      <div class="logged-in">
      <!-- Logged in as  -->
        <strong><%= current_user.email %></strong> | 
        <span class="rep">
          Reputation: <%= number_with_delimiter(current_user.score, :delimiter => ',') %>
        </span>

      </div>
    <% end %>
    
</header>

  <body class="main-gradient">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
